const path = require('path');
const MiniCssExtractPlugin = require("mini-css-extract-plugin");


module.exports = {
  mode: "development",
  entry: [
    './src/common.entry.js', 
    './src/page1/entry.js', 
    './src/page2/entry.js',
  ],
  output: {
    path: path.resolve(__dirname, "dist"),
    filename: 'bundle.js',
  },
  module: {
    rules: [{
      test: /\.s[ac]ss$/,
      use: [
        MiniCssExtractPlugin.loader,
        "css-loader",
        "sass-loader",
        ]
      }]
  },
  plugins: [
    new MiniCssExtractPlugin({
      filename: "[name].css",
      chunkFilename: "[name].css"})
  ],
    optimization: {
      splitChunks: {
        chunks: 'all',
        minSize: 30000,
        maxSize: 0,
        minChunks: 1,
        maxAsyncRequests: 5,
        maxInitialRequests: 3,
        automaticNameDelimiter: '~',
        name: true,
        cacheGroups: {
          brand1: {
            name: 'brand1',
            test: /[\\/]brand1[\\/]/,
            chunks: "all",
            enforce: true,
          },
          brand2: {
            name: 'brand2',
            test: /[\\/]brand2[\\/]/,
            chunks: "all",
            enforce: true,
          },
        }
      }
  },
};
